# See http://help.github.com/ignore-files/ for more about ignoring files.

# loginsystem_be (Spring Boot)
loginsystem_be/target
loginsystem_be/.idea

loginsystem_be/HELP.md
loginsystem_be/target/
loginsystem_be/!.mvn/wrapper/maven-wrapper.jar
loginsystem_be/!**/src/main/**/target/
loginsystem_be/!**/src/test/**/target/

### STS ###
loginsystem_be/.apt_generated
loginsystem_be/.classpath
loginsystem_be/.factorypath
loginsystem_be/.project
loginsystem_be/.settings
loginsystem_be/.springBeans
loginsystem_be/.sts4-cache

### IntelliJ IDEA ###
loginsystem_be/.idea
loginsystem_be/*.iws
loginsystem_be/*.iml
loginsystem_be/*.ipr

### NetBeans ###
loginsystem_be/nbproject/private/
loginsystem_be/nbbuild/
loginsystem_be/dist/
loginsystem_be/nbdist/
loginsystem_be/.nb-gradle/
loginsystem_be/build/
loginsystem_be/!**/src/main/**/build/
loginsystem_be/!**/src/test/**/build/

### VS Code ###
loginsystem_be/.vscode/

# loginsystem_fe (Angular)
loginsystem_fe/node_modules
loginsystem_fe/dist

# Compiled output
loginsystem_fe/dist
loginsystem_fe/tmp
loginsystem_fe/out-tsc
loginsystem_fe/bazel-out

# Node
loginsystem_fe/node_modules
loginsystem_fe/npm-debug.log
loginsystem_fe/yarn-error.log

# IDEs and editors
loginsystem_fe/.idea/
loginsystem_fe/.project
loginsystem_fe/.classpath
loginsystem_fe/.c9/
loginsystem_fe/*.launch
loginsystem_fe/.settings/
loginsystem_fe/*.sublime-workspace

# Visual Studio Code
loginsystem_fe/.vscode/*
loginsystem_fe/!.vscode/settings.json
loginsystem_fe/!.vscode/tasks.json
loginsystem_fe/!.vscode/launch.json
loginsystem_fe/!.vscode/extensions.json
loginsystem_fe/.history/*

# Miscellaneous
loginsystem_fe/.angular/cache
loginsystem_fe/.sass-cache/
loginsystem_fe/connect.lock
loginsystem_fe/coverage
loginsystem_fe/libpeerconnection.log
loginsystem_fe/testem.log
loginsystem_fe/typings

# System files
loginsystem_fe/.DS_Store
loginsystem_fe/Thumbs.db
