<div class="reset-password-container">
  <div class="reset-password">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          class="form-control"
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          placeholder="Enter your password here"
          required
        />
      </div>
      <button class="btn" type="submit">Reset Password</button>
    </form>
  </div>
</div>
